@import url('./__logo/header__logo.css');
@import url('./__email/header__email.css');
@import url('./__links/header__links.css');
@import url('./__link/header__link.css');

.header {
  border-bottom: 1px solid hsla(0, 0%, 33%, .7);
  box-sizing: border-box;
  width: 882px;
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 930px) {
  .header {
    width: 632px;
  }
}

@media screen and (max-width: 650px) {
  .header {
    width: 362px;
    margin-top: 28px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    display: flex;
    align-items: center;
  }
}
 