.splash-page__call-out {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 56px;
  right: calc(50% - 441px);
  text-decoration: none;
}

@media screen and (max-width: 930px) {
  .splash-page__call-out {
    right: calc(50% - 315px);
  }
}

@media screen and (max-width: 650px) {
  .splash-page__call-out {
    right: calc(50% - 178px);
  }
}